label {
  /* font: 10px sans-serif; */
  margin: 0;
  padding: 0;
  color: blue;
}

.axis path, 
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke-width: 0.25pt;
  stroke: #555;
}

.tooltip {
  /* position: absolute; */
  font-size: 12px;
  width:  auto;
  height: auto;
  pointer-events: none;
  background-color: white;
}

select {
	min-width: 100px;
	margin-left: 10px;
	margin-right: 25px;
}

svg {
  /* background: #ffffff; */
  /* overflow: visible;   */
}

.country {
  fill: #cccccc;
  stroke: #333333;
  stroke-width: 0.5;
}

.hoverover {
  fill: #eb8080
}

div.tooltip {
  color: #222; 
  background: #fff; 
  border-radius: 3px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  padding: .2em; 
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9; 
  /* position: absolute; */
}

.worldmapcolor {
  background: #ebf5ff;
}

.loss {
  color: red
}